<h1>Atualize Paciente</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'save_paciente'%}" method="post">
    {% csrf_token %}
    <div>
      <fieldset class="module aligned ">
            <div class="form-row field-id_paciente">
                    <div>
                            <label class="required" for="id_id_paciente">Id paciente:</label>
                            
                                <input type="number" name="id_paciente" value="{{paciente.id_paciente}}" class="vIntegerField" required="" id="id_id_paciente" readonly="True">
                    </div>
            </div>
            <div class="form-row field-cpf">
                    <div>
                            <label class="required" for="id_cpf">Cpf:</label>
                                <input type="text" name="cpf" value="{{paciente.cpf}}" class="vTextField" maxlength="11" required="" id="id_cpf" readonly="True">
                    </div>
            </div>
            <div class="form-row field-nome">
                    <div>
                            <label class="required" for="id_nome">Nome:</label>
                                <input type="text" name="nome" value="{{paciente.nome}}" class="vTextField" maxlength="255" required="" id="id_nome">
                    </div>
            </div>
            <div class="form-row field-endereco">
                    <div>
                            <label class="required" for="id_endereco">Endereco:</label>
                                <input type="text" name="endereco" value="{{paciente.endereco}}" class="vTextField" maxlength="255" required="" id="id_endereco">   
                    </div>
            </div>
            <div class="form-row field-nascimento">
                    <div>
                            <label class="required" for="id_nascimento">Nascimento(aaaa-mm-dd):</label>
                                <input type="text" name="nascimento" value="{{paciente.nascimento.isoformat}}" class="vDateField" size="10" required="" id="id_nascimento" readonly="True">
                    </div>
            </div>
    </fieldset>
    <div class="submit-row">
    <input type="submit" value="Save">
    </div>
    </div>
    </form>
